@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #90C67C;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.heading {
    font-size: 3rem;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 5px;
}

.container {
    height: 80vh;
    width: 30vw;
    background-color: #328E6E;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0px 0px 15px 3px black;
    overflow: hidden;
}

.container .input-box {
    width: 100%;
    height: 7vh;
    border-radius: 1rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container .input-box input {
    width: inherit;
    height: inherit;
    border-radius: 1rem;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 25px;
    font-weight: 600;
}

.container .input-box input::placeholder {
    color: #328E6E;
}

.container .input-box label {
    position: absolute;
    right: 10px;
    font-size: 25px;
    color: #328E6E;
}

.container .input-box label:active {
    transform: scale(0.7);
    transition: 0.1s linear;
    color: black;
}

.container .info {
    width: 100%;
    height: 45vh;
    color: white;
    font-size: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.container .info img {
    height: 150px;
}

.container .other-info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.container .other-info .other {
    width: 50%;
    height: inherit;
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container .other-info .other span {
    font-weight: 300;
    font-size: 15px;
}

.hide {
    display: none;
}

.container .other-info .other p {
    margin-left: 10px;
}

.container .other-info .other img {
    height: 50px;
}

@media screen and (max-width: 480px) {
    body {
        gap: 10%;
    }

    .heading {
        font-size: 2rem;
        margin-top: -100px;
    }

    .container {
        height: 70vh;
        width: 75vw;
    }

    .container .input-box {
        height: 5vh;
        border-radius: .8rem;
    }

    .container .input-box input {
        font-size: 20px;
        font-weight: 500;
    }

    .container .input-box label {
        font-size: 20px;
    }

    .container .other-info {
        width: 120%;
    }

    .container .other-info .other img {
        height: 30px;
    }
}